<h1>
  <a href="http://{{ companiesShow.company.website }}">{{ companiesShow.company.name }}</a>
</h1>
  <div class="row">
    <a href="http://{{ companiesShow.company.careers_url }}">
    <button class="four columns career" ng-if="companiesShow.company.careers_url">
      Careers URL
    </button>
    </a>
    <p class="eight columns">{{ companiesShow.company.description }}</p>
  </div>
  <h4>Hiring:</h4>
  <ul class="row">
    <li ng-repeat="listing in companiesShow.company.listings" class="six columns">
      <a href="{{ listing.url }}">{{ listing.job_title }}</a>
    </li>
  </ul>
