<h1>Job Board</h1>
<a class="button" ui-sref="job-stats">Job Statistics</a>
<a class="button" ui-sref="companiesIndex">Browse Companies</a>
<ul class="row">
  <li ng-repeat="listing in listingsIndex.all" ng-if="listing.company.id != 1" class="six columns">
     <!-- ng-if="listing.job_title.includes('Java')"> -->
    <a href="{{ listing.url }}"><h3>{{ listing.job_title }}</h3></a>

    <!-- <button ng-click=""><i class="fa fa-heart-o" aria-hidden="true"></i>  Save listing</button> -->
    <p>
      <a class="company-name" ui-sref="companiesShow({ id: listing.company.id })">{{ listing.company.name }} ({{ listing.location }})</a>
    </p>
    <p>{{ listing.snippet }}</p>
    <!-- <button ui-sref="listingsShow({ id: listing.id })">Listing details</button> -->
    <button class="save" ng-click="listingsIndex.toggleFavorites(listing)" ng-if="main.isAuthenticated()">
      <span ng-if="!listingsIndex.isFavorited(listing)"> &#9734; Save listing</span>
      <span ng-if="listingsIndex.isFavorited(listing)"> &#9733; Saved</span>
    </button>
  </li>
</ul>

<div id="api-source"><a title="Job Search" href="https://www.indeed.co.uk" rel="nofollow" >Jobs by <img alt="Indeed" src="https://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;"></a></div>

<!-- <button ng-click="listingsIndex.getListings()">Get all listings</button> -->
